<?xml version="1.0"?>
<configuration>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EFaturaEDMPort">
                    <security mode="Transport"/>
                </binding>
                <binding name="EFaturaEDMPort1">
                    <security mode="Transport"/>
                </binding>
                <binding name="EFaturaEDMPort2">
                    <security mode="Transport"/>
                </binding>
                <binding name="IntegrationServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="IntegrationServiceSoap1"/>
                <binding name="EFaturaEDMPort3">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21hk/EFaturaEDM.svc" binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort" contract="EdmServiceInternetSatis.EFaturaEDMPort" name="EFaturaEDMPort"/>
            <endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21ea/EFaturaEDM.svc" binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort1" contract="EdmService.EFaturaEDMPort" name="EFaturaEDMPort1"/>
            <endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21ea/EFaturaEDM.svc" binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort2" contract="EdmService.EFaturaEDMPort" name="EFaturaEDMPort2"/>
            <endpoint address="https://integrationtest.doganedonusum.com/integrationservice.asmx" binding="basicHttpBinding" bindingConfiguration="IntegrationServiceSoap" contract="DOGANService.IntegrationServiceSoap" name="IntegrationServiceSoap"/>
            <endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21hk/EFaturaEDM.svc" binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort3" contract="EdmService.EFaturaEDMPort" name="EFaturaEDMPort3"/>
        </client>
    </system.serviceModel>
</configuration>
